{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		.img{
			width: 80%;
            height: 80%;
            border: 2px solid black;
            margin-left: 10%;
            margin-bottom: 10%;
		}

        .pokemon {
            width: 20%;
            height: 20%;
            border: 2px solid black;
            margin: 1%;
            background-color: gold;
        }

        .text {
            width: 80%;
            margin-left: 10%;
            font-align: center;
        }

        #container {
            width: 90vw;
            height: 90vw;
            /*background-color: yellow;*/
            display: flex;
            flex-wrap: wrap;
            margin-left: 5vw;
        }

	</style>
{% endblock head %}


{% block content %}

<div id="container">
{% for pokemon in pokedex %}
<div class="pokemon">
    <p class="text">{{pokemon.pokemon_name}} : type {{pokemon.pokemon_type}}</p>
    <img src='{{pokemon.pokemon_image}}' class="img">
</div>
{% endfor %}
</div>


	<!-- <div class='row'>

		<div class="col-md-4">
			<img src='static/images/{{list_dir.0}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.2}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.3}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.4}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.5}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.6}}'>
		</div>

	</div><br>

	<div class='row'>
		
		<div class="col-md-4">
			<img src='static/images/{{list_dir.7}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.8}}'>
		</div>
		<div class="col-md-4">
			<img src='static/images/{{list_dir.9}}'>
		</div>

	</div> -->



{% endblock content %}

